<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/commonStyle.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://kit.fontawesome.com/aa7454d09f.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header -->
    <header th:insert="~{fragments/header.html :: header}"> </header>

    <!-- Contact form -->
    <section class="gridSection contactSection">
        <div class="contactformContainer">
            <h1 class="sectionHeader">Login</h1>
            <form method="post" action="/auth/sign-in">
                <div>
                    <input
                            type="text"
                            id="username"
                            name="username"
                            placeholder="username"
                            class="contactInput"
                            required>
                    <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Password"
                            class="contactInput"
                            required>
                </div>
                <button type="submit" class="btn primaryBtn contactBtn">Submit</button>
                <a class="btn contactBtn" th:href="@{/auth/sign-up}">Don't have an account?</a>
            </form>
        </div>
        <div class="sectionPic bouncepic contactPic" id="sectionPic">
            <img src="/img/contact-img.png" alt="">
        </div>
    </section>

    <!-- footer -->
    <div th:replace="~{fragments/footer.html :: footer}"></div>

    <script src="/js/script.js"></script>
</body>
</html>