<header xmlns:sec="http://www.w3.org/1999/xhtml">
  <div id="logo">
    <a th:href="@{/}">
      <img src="/img/logo-white.png" alt="">
    </a>
  </div>
  <ul class="nav" id="nav">
    <ul class="navLogo">
      <a th:href="@{/}">
        <img src="/img/logo-white.png" alt="">
      </a>
    </ul>

    <li class="nav-link"><a th:href="@{/}">Home</a></li>
    <li class="nav-link"><a th:href="@{/about-us}">About Us</a></li>
    <li class="nav-link"><a th:href="@{/contact}">Contact</a></li>

    <li class="nav-link"><a th:href="@{/coin}">Market</a></li>

    <li class="nav-link" sec:authorize="isAuthenticated()"><a th:href="@{/user}">Profile</a></li>

    <li class="nav-link" sec:authorize="isAnonymous()"><a th:href="@{/auth/sign-in}">Login</a></li>
    <li class="nav-link" sec:authorize="isAnonymous()"><a th:href="@{/auth/sign-up}">Registration</a></li>

    <li class="sociallinkContainer">
      <img class="sociallink" src="/img/fabook-icon-white.svg" alt="">
      <img class="sociallink" src="/img/twitter-icon-white.svg" alt="">
      <img class="sociallink" src="/img/inkedin-icon-white.svg" alt="">
      <img class="sociallink" src="/img/whatsapp-icon-white.svg" alt="">
    </li>
  </ul>
  <div id="barContainer">
    <i id="bar" class="fa-solid fa-bars"></i>
  </div>
</header>